<section class="section">
  <div class="columns">
    <div class="column"></div>
    <div class="column is-two-thirds">
      <article class="card block">
        <div class="card-header">
          <div class="card-header-title">
            <div class="container">
              <div class="columns">
                <div class="column">
                  <p class="title is-4"><%= @event.title %></p>
                  <p class="subtitle is-6"><%= link_to @event.creator.username, @event.creator %></p>
                </div>
                <div class="column is-narrow">
                  <p class="is-6"><%= @event.date.strftime("%D") %> | <%= @event.location %> </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-content">
          <%= @event.description %>
        </div>
        <% if user_signed_in? %>
          <footer class="card-footer">
            <% if @event.creator == current_user %>
              <%= link_to 'Invite guests', rsvps_path(attended_event_id: @event.id), method: :get, class: "card-footer-item" %>
            <% elsif !@rsvp.nil? && @rsvp.accepted? %>
              <%= link_to "You're attending the event! Cancel?", rsvp_path(@rsvp), method: :delete, class: "card-footer-item" %>
            <% elsif @rsvp %>
              <%= link_to "You're invited! Accept?", rsvp_path(@rsvp, accepted: true), method: :patch, class: "card-footer-item" %>
            <% end %>
            <% if @event.creator == current_user %>
              <%= link_to 'Edit', edit_event_path(@event), class: "card-footer-item" %>
              <%= link_to 'Delete', event_path(@event), method: :delete, class: "card-footer-item" %>
            <% end %>
          </footer>
        <% end %>
      </article>

      <article class="panel">
        <p class="panel-heading">Attending:</p>
        <% if @event.rsvps.where(accepted: true).none? %>
          <div class="panel-block">No attendees yet!</div>
        <% else %>
          <% @event.rsvps.where(accepted: true).each do |rsvp| %>
            <%= link_to rsvp.attendee.username, user_path(rsvp.attendee), class: "panel-block" %>
          <% end %>
        <% end %>
      </article>
    </div>
    <div class="column"></div>
  </div>
</section>
