<section class="section">
  <div class="columns">
    <div class="column"></div>
    <div class="column is-two-thirds">
      <article class="card block">
        <div class="card-header">
          <div class="card-header-title">
            <div class="container">
              <div class="columns">
                <div class="column">
                  <p class="title is-4"><%= @event.title %></p>
                  <p class="subtitle is-6"><%= link_to @event.creator.username, @event.creator %></p>
                </div>
                <div class="column is-narrow">
                  <p class="is-6"><%= @event.date.strftime("%D") %> | <%= @event.location %> </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-content">
          <%= @event.description %>
        </div>
        <% if user_signed_in? %>
          <footer class="card-footer">
            <% if @event.rsvps.where(attendee_id: current_user.id).exists? %>
              <%= link_to 'Delete RSVP', rsvp_path(attended_event_id: @event.id), method: :delete, class: "card-footer-item" %>
            <% elsif  %>
              <%= link_to 'RSVP', rsvps_path(attended_event_id: @event.id), method: :post, class: "card-footer-item" %>
            <% end %>
            <% if @event.creator == current_user %>
              <%= link_to 'Edit', edit_event_path(@event), class: "card-footer-item" %>
              <%= link_to 'Delete', event_path(@event), method: :delete, class: "card-footer-item" %>
            <% end %>
          </footer>
        <% end %>
      </article>
    </div>
    <div class="column"></div>
  </div>
</section>