<!DOCTYPE html>
<html>
  <head>
    <title>Private Events</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
      <div class="notification is-primary global-notification">
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="notification is-danger global-notification">
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>
    <nav class="navbar is-info">
      <div class="navbar-brand">
        <%= link_to root_path, class: "navbar-item" do %>
          <h1 class="title is-5">Private Events</h1>
        <% end %>
      </div>
      <div class="navbar-menu">
        <div class="navbar-end">
          <% if user_signed_in? %>
            <p class="navbar-item">
              <%= link_to 'New Event', new_event_path, class: "button is-info is-inverted" %>
            </p>
            <p class="navbar-item">
              <%= link_to current_user.username, user_path(id: current_user.id), class: 'is-info button' %>
            </p>
            <p class="navbar-item">
              <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'is-info button' %>
            </p>
          <% else %>
            <p class="navbar-item">
              <%= link_to 'Sign up', new_user_registration_path, class: 'is-info button' %>
            </p>
            <p class="navbar-item">
              <%= link_to 'Sign in', new_user_session_path, class: 'is-info button' %>
            </p>
          <% end %>
        </div>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
